__pycache__/
*.pyc
/Download/
/.venv/
/.ruff_cache/
/.idea/
/Data/
/Temp/
/Log/
/Live/
*.db
*.json
*.log
*.xlsx
*.csv
*.spec
*.ini
*.txt
!.github/workflows/*.yaml
*.pyc
*.mp4
src/.DS_Store
locale/.DS_Store