# TikTok Uploader Default Configuation File

headless = true
quit_on_end = true
background_run = true

# Messing around with inputs
valid_path_names = ["path", "filename", "video", "video_path"]
valid_descriptions = ["description", "desc", "caption"]

# Selenium Webdriver Waits
implicit_wait = 5  # seconds
explicit_wait = 60 # seconds
uploading_wait = 180 # seconds

# Wait time between adding hashtags
add_hashtag_wait = 5 # seconds

supported_file_types = ["mp4", "mov", "avi", "wmv", "flv", "webm", "mkv", "m4v", "3gp", "3g2", "gif"]

max_description_length = 150 # characters

[paths]
main = "https://www.tiktok.com/"
login = "https://www.tiktok.com/login/phone-or-email/email"
upload = "https://www.tiktok.com/creator-center/upload?lang=en"

[disguising]
user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'

[selectors] # Selenium XPATH selectors

	[selectors.login]
	username_field = "//input[@name=\"username\"]"
	password_field = "//input[@type=\"password\"]"
	login_button = "//button[@type=\"submit\"]"
	
	alert_user_if_failed = true # sends an alert and waits instead of failing
	
	cookie_of_interest = "sessionid" # cookie to check if login was successful
	
	[selectors.upload]
	iframe = "//iframe"
	
	split_window = "//button[./div[text()='Not now']]"
	upload_video = "//input[@type='file']"
	upload_video_complete = "//span[contains(text(), 'Uploaded')]"
	upload_finished = "//div[contains(@class, 'btn-cancel')]"
 	upload_confirmation = "//div[@title]"
 	process_confirmation = "//div[contains(@class, 'resolution-label-text')]"
	description = "//div[@contenteditable='true']"
	cover = "//div[text()='Edit cover']"
	upload_cover_tab = "//div[contains(text(), 'Upload cover')]"
	upload_cover_input = "//div[div[text()='Drag and drop a file here']]/preceding-sibling::input"
	upload_cover_commit = "//div[contains(@class, 'cover-edit-panel') and not(contains(@class, 'hide-panel'))]//button[.//div[text()='Confirm']]"

	visibility = "//div[@class='tiktok-select-selector']"
	options = ["Public", "Friends", "Private"]

	mention_box = "//div[contains(@class, 'mention-list-popover')]"
	mention_box_user_id = "//span[contains(@class, 'user-id')]"

	#comment = "//label[.='Comment' or .='评论']/following-sibling::div/input"
	#duet = "//label[.='Duet' or .='合拍']/following-sibling::div/input"
	#stitch = "//label[.='Stitch' or .='拼接']/following-sibling::div/input"
	comment = "//label[.//span[text()='Comment']]/div/input"
	reuse = "//label[.//span[text()='Reuse of content']]/div/input"
	duet = "//label[.//span[text()='Duet']]/div/input"
	stitch = "//label[.//span[text()='Stitch']]/div/input"


	post = "//button[@data-e2e='post_video_button']"
	post_confirmation = "//div[contains(text(), 'Your video has been uploaded') or contains(text(), '视频已发布')]"


	[selectors.schedule]
	switch =  "//label[.//span[text()='Schedule' or text()='预约发布']]"

	date_picker = "(//input[contains(@class, 'TUXTextInputCore-input')])[2]"
	calendar = "//div[contains(@class, 'calendar-wrapper')]"
	calendar_month = "//span[contains(@class, 'month-title')]"
	calendar_valid_days = "//div[contains(@class,'days-wrapper')]//span[contains(@class, 'day') and contains(@class, 'valid')]"
	calendar_arrows = "//span[contains(@class, 'arrow')]"  # first last, second next

	time_picker = "(//input[contains(@class, 'TUXTextInputCore-input')])[1]"
	time_picker_text = "//div[contains(@class, 'time-picker-input')]/*[1]"
	time_picker_container = "//div[@class='tiktok-timepicker-time-picker-container']"
	timepicker_hours = "//span[contains(@class, 'tiktok-timepicker-left')]"
	timepicker_minutes = "//span[contains(@class, 'tiktok-timepicker-right')]"

	[selectors.upload.cookies_banner]
		banner = "tiktok-cookie-banner"
		button = "div.button-wrapper"

	[selectors.check]
	copyright = "//div[span[text()='Music copyright check']]/following-sibling::div//input"
	content = "//div[span[text()='Content check lite']]//input"

